<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyp.propertydealerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PropertyDealerApp"
        tools:replace="android:theme">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activities.tasks.TaskDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tasks.AdminTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activities.tasks.AddTasksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.agents.AddAgentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.chat.ChatMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.PropertyDealerApp" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity" />
    </application>

</manifest>